<div class="min-header">
    <h2>Dashboard</h2>
    <div class="top-right">
        <ul>
            <li>                
                <form class="app-search">
                    <a><i class="fa-search-sm"></i><input type="text" placeholder="Search..." class="form-control"></a> 
                </form>
            </li>
            <li class="notifi-icon">
               <a href="javascript:void(0)"><img alt="" src="assets/images/notifi-icon.png" /></a>
               <div class="notifi-count">5</div>
            </li>
            <li class="user-upload">
                <a href="javascript:void(0)"> <span class="user-neme">Sheikh Ai</span>
                <div class="upload-img">
                    <img alt="" src="assets/images/user.svg" />                
                </div>
                </a>
            </li>
        </ul>
    </div>
</div>
