// theme color code
$primary:#077ac3;
$primarydark: #282828;
$primarylight:#99C6E4;

$secondary:#C4C4C4;
$secondarylight:#ECEFF0;

$supportivedark:#f5f5f5;
$supportivelight:#FFFFFF;

$danger: #fa2e2e;
$warning: #050505;
$success: #3ece0c;

// Colors
$white: #fff;
$black: #333333;
$gray: #847e7e;
$blue: #5bc0de;
$card-blue: #f0f8fe;
$paragraph: #8e8d8d;
$navy: #012037;
$slate: #586d7c;
$silver: #e3e5e8;
$azure: #1294f4;
$silver-two: #dddfe2;
$dark-sea-green: #0da044;
$nav-bg: #fafafa;
$lead-check: #dcdfe2;
$offer: #012038;
$red: #d0011b;
$chat-bg: #f1f3f6;
$ptable-head: #f4f5f6;
$star-select: #3a9ee5;
$star-unselect: #e1e1e2;
$menu-active: #2da2f5;
$input-border: #e3e5e8;
$input-border-focus: #1678e0;
$dialogbg: #eaeaea;
$dialogborder: #c8c8c8;

// Gradients

$btngrad:linear-gradient(to right, #3eb2fd , #0476c0);
$btngradhover:linear-gradient(to right, #0476c0 , #3eb2fd);
$uploadgrad:linear-gradient(to right, #ffa238 , #fbcb97);
$uploadgradhover:linear-gradient(to right, #7effa5 , #18bc4a);





// Radius

$btnradius:50px;
