<div class="dashboard-container">
    <div class="main-wrap">
        <div class="main-sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="main-outer">
            <div class="header-toprow">
                <app-header></app-header> 
            </div>
            <div class="middle-row">          
                <router-outlet></router-outlet> 
            </div>
            <div class="footer-bottomrow">
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>
