<div class="dashboard-container">
    <div class="main-wrap">
        <div class="main-sidebar " [ngClass]="{'collapse-menu' : sideNav.isMenuOpened}">
            <app-sidebar></app-sidebar>
        </div>
        <div class="main-outer" [ngClass]="{'collapse-outer' : sideNav.isMenuOpened}">
            <div class="header-toprow">
                <app-header></app-header>
            </div>

            <div [@fadeIn]="prepareRoute(outlet)" class="middle-row">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>

            <div class="footer-bottomrow">
                <app-footer></app-footer>                
            </div>
        </div>
    </div>
</div>