<div class="login-form-wrap">
    <img alt="" src="assets/images/logo.png" />
    <mat-card>
        <div class="login-form">
            <h2>Sign In</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="login-form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input type="text" matInput formControlName="email">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                    <div *ngIf="email.touched && email.invalid">
                        <div *ngFor="let validation of loginValidationMessages.email">
                            <div *ngIf="email.hasError(validation.type) && (email.errors)">
                                {{validation.message}}</div>
                        </div>
                    </div>
                </div>
                <div class="login-form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                        <mat-icon matSuffix>visibility</mat-icon>
                    </mat-form-field>

                    <div *ngIf="password.touched && password.invalid">
                        <div *ngFor="let validation of loginValidationMessages.password">
                            <div *ngIf="password.hasError(validation.type) && (password.errors)"
                                class="position-absolute">
                                {{validation.message}}</div>
                        </div>
                    </div>

                </div>
                <span class="forgot-wrap">
                    <a>Forgot Password ?</a>
                    <p>Need an account ?
                        <a routerLink="/user/signup">Sign Up</a>
                    </p>
                </span>
                <div class="login-bottom-action">
                    <button [disabled]="loginForm.invalid" type="submit" class="btn primary">
                        <span>Login</span>
                    </button>
                </div>

            </form>
        </div>
    </mat-card>
</div>