@import "./src/assets/scss/mixin.scss";
@import "./src/assets/scss/variable.scss";
.text-center{
    text-align: center;
}
.menu-icon{
    margin-bottom:30px;
    margin-left: 30px;
    img{
        max-width: 30px;
     } 
}
ul{
   list-style: none; 
   li{
       font-size:15px;
       @include display-b;  
       transition: inherit;     
       a{
        margin:10px 0;        
        @include display-b;
        padding: 10px 20px 5px 30px;
        position: relative;
        transition: inherit;  
        span{display: none;  @include transition-5s;}
        i{
            display: inline-block;
        }
        img{
           max-width: 25px;
        }        
        &:before{
            position: absolute;
            content: '';
            left: 0px;                        
            top: 0px;
            right: 0px;
            bottom: 0px;
            width: 0;
            transition:  all .5s ease-in-out;
            background:$menubghover;
            box-shadow: 0 0 15px rgb(4, 111, 192);
            border-radius:0 5px 5px 0; 
        }
        &:hover:before{
            width: 92%;            
        }
        .dashboard-icon{
            position: relative;
            z-index: 1;
        }       
       }
   }
}
ul.full-menu{
    list-style: none;    
    a{
        color: #fff;
        text-decoration: none;
        font-size:.8rem;        
        span.abc{
            padding-left: 10px;            
            position: relative;
            z-index: 1;
            vertical-align: top;
            line-height: 29px;
            @include transition-5s;
            display:inline-block;
        }
    }
}