.footer-row{ 
    display:flex; 
    flex: 1;
    background:#fff;
    padding:20px 0;
    border-radius:20px 20px 0 0;   
    margin-right: 40px;
    color: #525252;
    justify-content: center;
    margin-top:25px;
    font-size: .8rem;
}
