@import "./src/assets/scss/variable.scss";
@import "./src/assets/scss/mixin.scss";

.signup-wrap{
    width:55vw;
    margin:0 auto;
    @include absolute-position;
    top: 20px;    
    left: 0;
    transform: translate(40%, 0%); 
    height: 100vh;   
    mat-card{
        padding:0 15px;     
        background-image:url(/assets/images/regi-bg-a.png);
        background-position: right 0;
        background-repeat: no-repeat;
        padding-top:30px;
        &:after{
            height:261px;
            width: 165px;
            content: '';
            @include absolute-position;
            background-image:url(/assets/images/regi-bg-b.png);
            background-position: 0 center;
            background-repeat: no-repeat;
            @include position-none;         
        }
    .form-wrap{
        width: 100%;
        @include flex-center;
        @include relative-position;
        z-index: 9;
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
            margin: 0;
        }       
        .regi-col-7{
            width: 70%;
            padding: 0 15px;
        }
        .regi-col-3{
            width: 30%;
            padding: 0 10px;
            @include text-center;
        .upload-img{
            width: 130px;
            height: 130px;
            margin-bottom: 20px;
            border-radius:100%;
            border: solid 4px $silver;
            display: inline-block;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .btn{
            font-size: 14px;
            padding:15px 35px;
            background-image:$uploadgrad;
            transition: 0.5s;
            &:hover{
                background-image:$uploadgradhover; 
                transition: 0.5s; 
            }
        }
        }
    .regi-col-5{
        width: $half-width;
        padding: 0 15px;
    }
   ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.8em 0 0.8em 0;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
        margin-top:0;
        top: 1.5em;
        font-size: 14px;
    }
    }                 
    }             
    h2{
        font-size: 30px;
        margin-bottom: 25px;
        @include text-center;
    }
   
}


.login-bottom-action{
    margin-top:0px;
    @include text-center;
    button{
        width: 300px;        
        background:$btngrad;
        padding: 17px 70px;
        margin:10px 0 15px;
        margin-bottom: 40px;
        span{
            cursor: pointer;
            display: inline-block;
            @include relative-position;
            transition: 0.5s; 
            &:after{
                font-family: "FontAwesome";
                content: '\f101';
                @include absolute-position;                
                opacity: 0;
                top: 0;
                right: -20px;                    
                transition: 0.5s;
            }             
        }             
        &:hover{
            background-image: $btngradhover;
            span{
                padding-right: 25px;                    
            }
            ::after{
                opacity: 1;
                right: 0;
            }
        }
           
    }
 }

