<div class="signup-wrap">
    <mat-card>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <h2>Sign Up</h2>
            <div class="form-wrap">
                <div class="regi-col-7">
                    <div class="login-form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Job Title:</mat-label>
                            <input type="text" matInput formControlName="jobTitle">
                            <mat-icon matSuffix>work</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="login-form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Email:</mat-label>
                            <input type="text" matInput formControlName="email">
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="login-form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>User Name:</mat-label>
                            <input type="text" matInput formControlName="userName">
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="regi-col-3">
                    <div class="upload-img">
                        <img alt="" src="assets/images/user.svg" />
                    </div>
                    <button class="btn primary">
                        <span>Upload Photo</span>
                    </button>
                </div>
            </div>
            <div class="form-wrap">
                <div class="regi-col-5">
                    <div class="login-form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name:</mat-label>
                            <input type="text" matInput formControlName="firstName">
                            <mat-icon matSuffix>supervised_user_circle</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="regi-col-5">
                    <div class="login-form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name:</mat-label>
                            <input type="text" matInput formControlName="lastName">
                            <mat-icon matSuffix>recent_actors</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="form-wrap">
                <div class="regi-col-5">
                    <div class="login-form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Password:</mat-label>
                            <input type="password" matInput formControlName="password">
                            <mat-icon matSuffix>remove_red_eye</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="regi-col-5">
                    <div class="login-form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password:</mat-label>
                            <input type="password" matInput formControlName="confirmPassword">
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="form-wrap">
                <div class="regi-col-5">
                    <div class="login-form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Recovery Pin:</mat-label>
                            <input type="text" matInput formControlName="recoveryPIN">
                            <mat-icon matSuffix>rotate_right</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="regi-col-5">
                    <div class="login-form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Recovery Pin:</mat-label>
                            <input type="text" matInput formControlName="confirmRecoveryPIN">
                            <mat-icon matSuffix>timer</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="login-bottom-action">
                <button type="submit" class="btn primary">
                    <span>Submit</span>
                </button>
            </div>
        </form>
    </mat-card>
</div>