<div class="body-wrap">
    <div class="body-left-col">
        <div class="modified-col">
            <h2>Last Modified</h2>
            <ul>
                <li>
                    <mat-card>
                        <h3 class="customer-mg-icon">Customer
                            <span>Management</span>
                        </h3>
                        <div class="card-count">
                            1789
                            <ul>
                                <li>
                                    <div class="round-img">
                                        <img alt="" src="assets/images/img1.png" />
                                    </div>
                                </li>
                                <li>
                                    <div class="round-img">
                                        <img alt="" src="assets/images/img2.png" />
                                    </div>
                                </li>
                                <li>
                                    <div class="round-img">
                                        <img alt="" src="assets/images/img3.png" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </mat-card>
                </li>
                <li>
                    <mat-card>
                        <h3 class="appraisal-mg-icon">Appraisal
                            <span>Management</span>
                        </h3>
                        <div class="card-count">
                            1789
                            <ul>
                                <li>
                                    <div class="round-img">
                                        <img alt="" src="assets/images/img1.png" />
                                    </div>
                                </li>
                                <li>
                                    <div class="round-img">
                                        <img alt="" src="assets/images/img2.png" />
                                    </div>
                                </li>
                                <li>
                                    <div class="round-img">
                                        <img alt="" src="assets/images/img3.png" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </mat-card>
                </li>
                <li>
                    <mat-card>
                        <h3 class="repair-mg-icon">Repair
                            <span>Management</span>
                        </h3>
                        <div class="card-count">
                            1789
                            <ul>
                                <li>
                                    <div class="round-img">
                                        <img alt="" src="assets/images/img1.png" />
                                    </div>
                                </li>
                                <li>
                                    <div class="round-img">
                                        <img alt="" src="assets/images/img2.png" />
                                    </div>
                                </li>
                                <li>
                                    <div class="round-img">
                                        <img alt="" src="assets/images/img3.png" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </mat-card>
                </li>
            </ul>
        </div>

        <div class="repairs-table">
            <h2>Open Repairs Task</h2>
            <div class="table-top">
                <mat-card>
                    <div class="col-1">
                        <mat-checkbox></mat-checkbox>
                    </div>
                    <div class="col-2">Name</div>
                    <div class="col-2"> Modified Date</div>
                    <div class="col-2">Members</div>
                </mat-card>
            </div>
            <div class="table-rept">
                <mat-card>
                    <div class="col-1">
                        <mat-checkbox></mat-checkbox>
                    </div>
                    <div class="col-2">
                        <svg width="35" height="35" viewBox="0 0 20 20">
                            <path d="M10 5L8 3H3c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V6c0-.55-.45-1-1-1h-5z" />
                        </svg> Damon Zappariello
                    </div>

                    <div class="col-2">
                        <dt>22, 2019, 3:40PM</dt>
                    </div>
                    <div class="col-2">
                        <ul>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img1.png" />
                                </div>
                            </li>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img2.png" />
                                </div>
                            </li>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img3.png" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <a href="JavaScript:void(0)">...</a>
                    </div>
                </mat-card>
            </div>
            <div class="table-rept">
                <mat-card>
                    <div class="col-1">
                        <mat-checkbox></mat-checkbox>
                    </div>
                    <div class="col-2">
                        <svg width="35" height="35" viewBox="0 0 20 20">
                            <path d="M10 5L8 3H3c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V6c0-.55-.45-1-1-1h-5z" />
                        </svg>
                        Damon Zappariello</div>
                    <div class="col-2">
                        <dt>22, 2019, 3:40PM</dt>
                    </div>
                    <div class="col-2">
                        <ul>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img1.png" />
                                </div>
                            </li>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img2.png" />
                                </div>
                            </li>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img3.png" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <a href="JavaScript:void(0)">...</a>
                    </div>
                </mat-card>
            </div>
            <div class="table-rept">
                <mat-card>
                    <div class="col-1">
                        <mat-checkbox></mat-checkbox>
                    </div>
                    <div class="col-2">
                        <svg width="35" height="35" viewBox="0 0 20 20">
                            <path d="M10 5L8 3H3c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V6c0-.55-.45-1-1-1h-5z" />
                        </svg>
                        Damon Zappariello</div>
                    <div class="col-2">
                        <dt>22, 2019, 3:40PM</dt>
                    </div>
                    <div class="col-2">
                        <ul>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img1.png" />
                                </div>
                            </li>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img2.png" />
                                </div>
                            </li>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img3.png" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <a href="JavaScript:void(0)">...</a>
                    </div>
                </mat-card>
            </div>
            <div class="table-rept">
                <mat-card>
                    <div class="col-1">
                        <mat-checkbox></mat-checkbox>
                    </div>
                    <div class="col-2">
                        <svg width="35" height="35" viewBox="0 0 20 20">
                            <path d="M10 5L8 3H3c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V6c0-.55-.45-1-1-1h-5z" />
                        </svg>
                        Damon Zappariello</div>
                    <div class="col-2">
                        <dt>22, 2019, 3:40PM</dt>
                    </div>
                    <div class="col-2">
                        <ul>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img1.png" />
                                </div>
                            </li>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img2.png" />
                                </div>
                            </li>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img3.png" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <a href="JavaScript:void(0)">...</a>
                    </div>
                </mat-card>
            </div>

            <div class="table-rept">
                <mat-card>
                    <div class="col-1">
                        <mat-checkbox></mat-checkbox>
                    </div>
                    <div class="col-2">
                        <svg width="35" height="35" viewBox="0 0 20 20">
                            <path d="M10 5L8 3H3c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V6c0-.55-.45-1-1-1h-5z" />
                        </svg>
                        Damon Zappariello</div>
                    <div class="col-2">
                        <dt>22, 2019, 3:40PM</dt>
                    </div>
                    <div class="col-2">
                        <ul>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img1.png" />
                                </div>
                            </li>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img2.png" />
                                </div>
                            </li>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img3.png" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <a href="JavaScript:void(0)">...</a>
                    </div>
                </mat-card>
            </div>
        </div>

    </div>
    <div class="body-right-col">
        <div class="overview-col">
            <h2>Overview</h2>
            <mat-card>
                <i class="crd-sm-icon">
                    <img alt="" src="assets/images/small-icon1.png" />
                </i>
                <h3>10,555</h3>
                <p>Total Customers</p>
            </mat-card>
            <mat-card>
                <i class="crd-sm-icon crd-icon-orange-bg">
                    <img alt="" src="assets/images/small-icon2.png" />
                </i>
                <h3>10,555</h3>
                <p>Total Appraisals</p>
            </mat-card>
            <mat-card>
                <i class="crd-sm-icon crd-icon-green-bg">
                    <img alt="" src="assets/images/small-icon3.png" />
                </i>
                <h3>10,555</h3>
                <p>Total Repairs</p>
            </mat-card>
            <mat-card>
                <i class="crd-sm-icon crd-icon-red-bg">
                    <img alt="" src="assets/images/small-icon4.png" />
                </i>
                <h3>10,555</h3>
                <p>Open Repairs</p>
            </mat-card>
        </div>

        <div class="growth-mng-col">
            <h2>Growth Management</h2>
            <mat-card>
                <img alt="" src="assets/images/graph-img.jpg" />
            </mat-card>
        </div>

    </div>
</div>