/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import "./src/assets/scss/mixin.scss";

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }


body{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background: $supportivedark;
}
.error{
    margin: 2px;
    font-size: 13px;
    color: #FF0000;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
h1, h2, h3, h4, h5{
    padding: 0px;
    margin: 0px;
}
p{
    padding: 0px;
    margin: 0px;
}
.mat-form-field{
    width: 100%;    
} 
.mat-form-field-outline{
    background: rgba(255, 255, 255, 0.9);
}
.btn{
    background:$btngrad;
    text-align: center;
    display:inline-block;
    border-radius: $btnradius;
    border: none;
    padding: 17px 70px;
    font-size:17px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    margin:10px 0 20px;     
    transition: all 0.5s;
    font-weight: 600;
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
    border: solid 1px #fff;
    color: #8687ba;
}
.mat-form-field-infix{
    color: #8687ba;
}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover{
-webkit-animation: swing 1s ease;
animation: swing 1s ease;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}