/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import "./src/assets/scss/mixin.scss";
@import "./src/assets/scss/variable.scss";

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }


body{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background: $supportivedark;
}
.error{
    margin: 2px;
    font-size: 13px;
    color: #FF0000;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
h1, h2, h3, h4, h5{
    padding: 0px;
    margin: 0px;
}
p{
    padding: 0px;
    margin: 0px;
}
.mat-form-field{
    width: 100%;    
} 
.mat-form-field-outline{
    background: rgba(255, 255, 255, 0.9);
}
a{
    outline: none;
}
.btn{    
    text-align: center;
    display:inline-block;
    border-radius: $btnradius;
    border: none;   
    font-size:17px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 600;
}

.btn-loder{
@include background-gradient;
animation: shine-lines $animation-duration infinite linear;
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
    border: solid 1px #fff;
    color: #8687ba;
}
.mat-form-field-infix{
    color: #8687ba;
}

@keyframes shine-lines{   
0%{
  background-position: -100px
}
40%, 100%{
  background-position: 140px
}
}