<div class="body-wrap">
    <div class="repairs-table">
        <div class="search-row">
            <h2>Open Customers Task</h2>
            <div class="search-col">
                <ul>
                    <li class="s-box">
                        <form>
                            <i class="material-icons">search</i>
                            <input type="text" placeholder="Search..." class="form-control">
                        </form>
                    </li>
                    <li>
                        <button matRipple class="btn secondary btn-loder" type="button" [routerLink]="['/app/create-customer']">Create</button>
                    </li>
                    <li>
                        <button matRipple class="btn createbt" type="button"> Export</button>
                    </li>
                </ul>
            </div>
        </div>


        <div class="table-top">
            <mat-card>
                <div class="col-1">
                    <mat-checkbox></mat-checkbox>
                </div>
                <div class="col-2">No</div>
                <div class="col-3">Customer Name</div>
                <div class="col-3">Email Address</div>
                <div class="col-4">Mobile No</div>
                <div class="col-4">Date</div>
                <div class="col-4">Lifetime Value</div>
                <div class="col-4">Members</div>
                <div class="col-1">Actions</div>
            </mat-card>
        </div>

        <div [@listAnimation]="allCustomer.length">
            <div *ngFor='let item of allCustomer' class="table-rept">
                <mat-card>
                    <div class="col-1">
                        <mat-checkbox></mat-checkbox>
                    </div>
                    <div class="col-2">{{item.customerNumber}}</div>

                    <div class="col-3">
                        <svg width="35" height="35" viewBox="0 0 20 20">
                            <path
                                d="M10 5L8 3H3c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V6c0-.55-.45-1-1-1h-5z" />
                        </svg>{{item.firstName}} {{item.lastName}} 
                    </div>

                    <div class="col-3">
                        <a href="mailto:chrissindoni@gmail.com">{{item.email}}</a>
                    </div>
                    <div class="col-4">
                        {{item.mobilePhone}}
                    </div>
                    <div class="col-4">
                        <dt>{{item.birthday}}</dt>
                    </div>
                    <div class="col-4">
                        ${{item.livevalue}}
                    </div>

                    <div class="col-4">
                        <ul>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img1.png" />
                                </div>
                            </li>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img2.png" />
                                </div>
                            </li>
                            <li>
                                <div class="round-img">
                                    <img alt="" src="assets/images/img3.png" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-1">
                        <a matRipple [matMenuTriggerFor]="menu" href="JavaScript:void(0)">
                            <mat-icon>more_horiz</mat-icon>
                        </a>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>visibility</mat-icon>
                                <span>View</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>delete_forever</mat-icon>
                                <span>Remove</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>