@import "./src/assets/scss/mixin.scss";
@import "./src/assets/scss/variable.scss";
.body-wrap{
    display: flex;
    max-width: 100%;
    margin-right: 40px;
    justify-content: space-between;    
}
.repairs-table{        
    width: 100%;    
    .search-row{
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px #fff;
        padding-bottom: 20px;
        position: relative;
        &:before{
            position: absolute;
            content:"";
            border-bottom: solid 1px #ccc;
            bottom: 0;
            left: 0;
            width: 100%;
        }        
        .search-col{
            justify-content: flex-end;
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    margin-right: 10px;
                    position: relative;
                    .createbt{
                        background-color:#3baffa;
                        font-size: 0.9rem;
                        padding:12px 30px;
                        border-radius: 20px;
                        &:hover{
                            background-color:#0476bf;
                        }
                    }
                    .secondary{
                        background-color:#ffa238;
                        font-size: 0.9rem;
                        padding:12px 30px;
                        border-radius: 20px;
                        &:hover{
                            background-color:#0476bf;
                        }
                    }
                    .s-box{
                        display: inline-block;                        
                    }
                    .form-control{
                        border: solid 1px $silver;
                        height:45px;
                        border-radius:30px;
                        padding: 0 20px;
                        width: 200px;
                        @include transition-5s;
                        &:focus{
                            width: 350px;  
                        }
                    }
                    .material-icons{
                        position: absolute;
                        top: 10px;
                        right: 15px;
                        z-index: 9;
                        color:$gray;                        
                    }

                }
            }
            
        }
        h2{
            font-size: 22px;
            color:#7e7e7e;
            font-weight: 500;
            letter-spacing: 1px;            
            line-height: 45px;
        }
    }  
      
    .table-top{
        display:flex;
        flex-direction:row;           
        font-weight:500;
        mat-card{
            display:flex;
            flex-direction:row;
            width: 100%;
            background:none;
            box-shadow: none;
            font-size: 15px;
            color: #a3b3bd;
        .col-1{
            width: 5%;
        }
        .col-2{
            width: 10%;               
        }
        .col-3{
            width: 20%;               
        } 
        .col-4{
            width: 13%;               
        } 

        }
        
        
    }
    .table-rept{
        display:flex;
        flex-direction:row;
        font-size: 15px;
        color: #a3b3bd;
        font-weight:500;
        mat-card{
            width: 100%;
            margin:7px 0;
            display:flex;
            flex-direction:row;
            box-shadow:0 0 5px rgba(0, 0, 0, 0.1);
            border-radius:7px;
            padding: 20px 20px 15px;
            svg{
                float: left;
                margin-top: -8px;
                fill: #0476bf;
               }
            dt{
                color: #a1a1a1;                                     
            }
            a{
                color: #a1a1a1;                
                text-decoration: none;
                line-height: 6px;
            }                
        &:hover{
            background-color: #0476bf;
            color: #fff !important; 
            svg{
                fill: #ffa400;
               }
            dt{
                color: #fff;
            } 
            a{
                color: #fff;
            }
            ::ng-deep .mat-checkbox-frame{
                border-color: #fff !important;
            }                
        }                
        .col-1{
            width: 5%;
        }            
        .col-2{
            width: 10%;
        }
        .col-3{
           width: 20%;                                  
        }
        .col-4{
            width:13%;
            ul{
                display: flex;
                li{
                    display:inline-block;
                    margin-right: -5px;
                    .round-img{
                        width: 25px;
                        height:25px;                                
                        img{
                            width: 100%;
                            border-radius:100px;
                            border: solid 2px #fff;                                
                        }
                    }
                }
            } 
        }
        }            
        }
}